{% extends 'base.html.twig' %}

{% block title %}Todas as temporadas - {{ series.name }}{% endblock %}

{% block body %}

    {% if series.coverImagePath is not empty %}
    <div class="container-fluid text-center">
        <img class="img-fluid mb-2" src="{{ asset("/uploads/cover_image/") ~ series.coverImagePath }}" alt="Banner serie">
    </div>
    {% endif %}

    <a class="btn btn-dark mb-2" href="{{ path('app_series') }}">Voltar</a>
    <ul class="list-group">
        {% for season in seasons %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{{ path('app_episode', {'seasonId': season.id}) }}">
                    {{ season.number }}ยบ Temporada
                </a>
                <span class="badge bg-secondary">
                    {{ season.getEpisodesWatched|length }} /
                    {{ season.episodes|length }}
                </span>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
