{% extends 'base.html.twig' %}

{% block title %} {% trans %} Lista de Series {% endtrans %} {% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-dark mb-2" href="{{ path('app_series_form') }}">Adicionar</a>
    {% endif %}
    <ul class="list-group">
        {% for series in seriesList %}
            <li class="list-group-item d-flex justify-content-between align-items-center">

                <div>
                    {% if series.coverImagePath is not empty %}
                        <img class="img-thumbnail mr-3" width="100" src="{{ asset("/uploads/cover_image/") ~ series.coverImagePath }}" alt="thubnail serie">
                    {% endif %}

                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('app_seasons', {'seriesId': series.id}) }}">
                            {{ series.name }}
                        </a>
                    {% else %}
                        {{ series.name }}
                    {% endif %}
                </div>

                {% if is_granted('ROLE_USER') %}
                <span class="d-flex gap-2">
                    <a href="{{ path('app_series_edit_form', {'id': series.id}) }}" class="btn btn-info btn-sm">
                        Editar
                    </a>

                    <form action="{{ path('app_series_delete', {'seriesId': series.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-sm btn-danger" type="submit">X</button>
                    </form>
                </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
